          <div class="container-fluid ps-2 pe-0">
            <!-- <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html"> -->
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{{ url_for('index') }}">
              Material Dashboard 3
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">

<ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{{ url_for('index') }}">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link me-2" href="../pages/profile.html"> -->
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{{ url_for('profile') }}">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link me-2" href="../pages/sign-up.html"> -->
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{{ url_for('sign_up') }}">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Sign Up
                  </a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link me-2" href="../pages/sign-in.html"> -->
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{{ url_for('sign_in') }}"> 
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Sign In
                  </a>
                </li>
              </ul>

              